We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

In [2]:
import pandas as pd
import math
import numpy as np
from scipy.stats import ttest_ind
import scipy.stats as stats

In [3]:
new_machine=[42.1,41,41.3,41.8,42.4,42.8,43.2,42.3,41.8,42.7]
old_machine=[42.7,43.6,43.8,43.3,42.5,43.5,43.1,41.7,44,44.1]

data=pd.DataFrame(columns=['new_machine','old_machine'])
data['new_machine']=new_machine
data['old_machine']=old_machine

In [4]:
data

   new_machine  old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

##### Defining H0 and H1
H0: The New Machine mean packing time is equal to current machine;
H1: The New Machine mean packing time is faster than current machine

#### Determining the level of significance.
Î± = 0.05

#### Calculate the T-statistic

In [8]:
n_1=data['new_machine'][0]
n_2=data['old_machine'][0]
x_bar_1=data['new_machine'][1]
x_bar_2=data['old_machine'][1]
s_1=data['new_machine'][2]
s_2=data['old_machine'][2]

In [9]:
# Standard Deviation
s_p=np.sqrt((((n_1-1)*(s_1**2))+((n_2-1)*(s_2**2)))/(n_1+n_2-2))
s_p

42.57740989460647

In [14]:
# T-value & P-value. 
# P-value is smaller than 0.05. We an safely reject the null hypothesis.
# T-value shows the mean packing of the old machine is higher when compared to the mean packing of the new machine.
# This is evidence that the new machine packs faster on average than the old

ttest_ind(new_machine, old_machine)

Ttest_indResult(statistic=-3.3972307061176026, pvalue=0.0032111425007745158)